# frontend
frontend/node_modules
frontend/.output
frontend/.nuxt
frontend/dist
frontend/.pnpm-store

# backend
backend/target
backend/*.jar

# env
.env
.env.*
!.env.example
deploy/.env.dev
deploy/.env.prod

# logs
*.log

# IDE
.idea
.vscode
.DS_Store
